.jumbotron {
  /* background-image: url("../images/giphy.gif"); */
  width: 100%;
  background-size: cover;
  background-position: center;
  color: var(--primary-color);
  padding: 1rem;
}

.pointer {
  cursor: pointer;
}

.jumbotron h1 {
  font-weight: bold;
}

.jumbotron1 {
  /* background-image: url("../images/giphy.gif"); */
  background-image: linear-gradient(to right, var(--white), var(--primary-color));
  width: 100%;
  background-size: cover;
  background-position: center;
  color: rgb(19, 46, 53);
  padding: 1rem;
}



.site1 {
  /* background-image: url("../images/giphy.gif"); */
  width: 100%;
  /* background-image: linear-gradient(to right, var(--main), rgb(231, 224, 224)); */
  display: flex;
  min-height: 80vh;

  flex-direction: column;
}

.main {
  flex: 1;
}

.link-style {
  color: rgb(93, 64, 21);
  text-decoration: none;
}

.btn-color {
  color: rgb(234, 234, 46);
  background-color: #ff7300;
}

:root {
  --main: #f01027;
  --black: #000000;
  --white: #FFFF00;
  --lightgray:  #FFFF00;
  --grey:  #FFFF00;
  --darkgrey: #464D53;
  --appColor: #3c3f45;
  --font_family: "Besley", serif;
  --primary-color: #000000;
  --heading-color:  #FFFF00;
  --bg-gradient: linear-gradient(
    90deg,
    rgba(103, 101, 240, 1) 27%,
    rgba(141, 141, 235, 1) 85%
  );
  --font-name: 'Questrial', sans-serif;

}

* {
  margin: 0;
  padding: 0;
  transition: 0.3s;
  font-family: var(--font_name);
}

*::selection {
  background: var(--main);
  color: var(--white) !important;
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 150px;
  width: 700px;
  height: 900px;
  margin-top: -330px;

}
.react-player-div{
  margin-top: 80px;
}
@media screen and (max-width:1200px) {
  .hero-banner-img {
    display: none;
  }
}

/* Styling the scrollbar. */
html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background: var(--darkgrey);
}

html::-webkit-scrollbar-track {
  background: var(--black);
}

/*navbar */
.Header {
  width: 100%;
  height: 70px;
  line-height: 70px;
}
ul {
  list-style: none;
}
section {
  padding: 50px 0px;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}
.section_title {
  color: var(--heading-color);
  font-weight: 700;
}

.container {
  width: 1140px;
  padding: 0px 15px;
  margin: auto;
}
.navbar_brand {
  text-align: left;
}
.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
}

.nav_item {
  color: var(--heading-color);
  font-weight: 600 !important;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.1rem;
}
.nav_item a {
  color: var(--heading-color);
  font-weight: 900 !important;
  cursor: pointer;
}
.weight{
  font-weight: 600;
  font-size: larger;
}

.nav_item a:hover {
  color: var(--primary-color);
}
.nav_right {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.register_btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  padding-top: 1;
  color: var(--black);
  background: #FFFF00;
  font-size: 1rem;
  border-radius: 5px;
  font-family: var(--font-name);
  font-weight: 500;
  cursor: pointer;
}
.register_btn1 {
  border: none;
  outline: none;
  padding: 10px 20px;
  padding-top: 1;
  color: #fff;
  background: var(--primary-color);
  font-size: 1.5rem;
  border-radius: 5px;
  font-family: var(--font-name);
  font-weight: 500;
  cursor: pointer;
}
.chlogout {
  border: none;
  outline: none;
  padding: 10px 20px;
  color: #fff;
  background: var(--main);
  font-size: 1rem;
  border-radius: 5px;
  font-family: var(--font-name);
  font-weight: 500;
  cursor: pointer;
}
   
  /* Heroo section */
.hero_wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.hero_content .section_title {
  font-size: 3rem;
  padding-right: 60px;
  line-height: 60px;
  margin-bottom: 20px;
}

.highlights {
  color: #fff;
}

.hero_content p {
  font-size: 1rem;
  color: var(--heading-color);
  margin-bottom: 30px;
  line-height: 30px;
}

.hero_btns {
  display: flex;
  align-items: center;
  column-gap: 3rem;
}

.watch_btn {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  color: var(--heading-color);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.watch_btn span {
  background: #fff;
  border-radius: 50%;
  padding: 10px;
  color: var(--primary-color);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 8px -1px #d3cef2;
}

.box-01 {
  width: 400px;
  height: 400px;
  border-radius: 100%;
}

.box-2 {
  width: 350px;
  height: 350px;
  border-radius: 100%;
}
body {
  background-color: black;
}

.box-3 {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.hero_img-wrapper {
  position: relative;
  z-index: 1;
}

.box_img {
  position: absolute;
  top: -12%;
  left: -13%;
  z-index: 10;
}

.box_img img {
  width: 121.5%;
}

.dumble_icon {
  position: absolute;
  top: -2%;
  left: -5%;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #d7337a;
  color: #fff;
  border-radius: 5px;
  padding: 15px 10px;
}

.dumble_icon img {
  width: 100%;
}

.mobile_menu {
  color: var(--heading-color);
  font-size: 1.3rem;
  cursor: pointer;
  display: none;
}
.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #063970;
  padding: 0.25rem;
  margin-bottom: auto;
  position: relative !important;
}

.navbar-brand {
  font-size: 2em;
  color: var(--black) !important;
  padding: 0rem 1rem;
}

.navbar-brand span {
  font-size: 2.5em;
  text-decoration: none;
  color: var(--primary-color) !important;
  font-weight: 400;
}

/* section exercise css */
.exercise_top {
  margin-bottom: 50px;
  text-align: center;
}

.exercise_top h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.exercise_top p {
  color: var(--heading-color);
  font-size: 1rem;
  line-height: 28px;
}

.exercise_wrapper {
  background: var(--bg-gradient);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
}

.exercise_item {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  width: 33%;
}

.exercise_icon {
  width: 40%;
  height: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 5px;
  background: #fff;
}

.exercise_icon img {
  width: 100%;
}

.exercise_content {
  width: 80%;
}

.exercise_content h4 {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

.exercise_content p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.801);
}

/*start */

.start_wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 3rem;
  align-items: center;
}

.start_img,
.start_content {
  width: 50%;
}

.start_img img {
  width: 100%;
}

.start_content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.start_content p {
  color: var(--heading-color);
  font-size: 1.1rem;
  line-height: 28px;
  margin-bottom: 50px;
}
 /* pricing css*/
 .pricing_top {
  text-align: center;
}

.pricing_top h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.pricing_top p {
  font-size: 1.1rem;
  color: var(--heading-color);
  line-height: 28px;
}

.pricing_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
  margin-top: 2rem;
}

.pricing_item {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 5px;
  width: 33%;
  background: #fff;
}

.pricing_card-top {
  padding: 30px;
  border-bottom: 1px solid #d3cef2;
  text-align: center;
}

.pricing_card-top h2 {
  font-size: 1.5rem;
  margin-bottom: 0.9rem;
}

.pricing_card-top .pricing {
  font-size: 1.4rem;
}

.pricing_card-top .pricing span {
  font-size: 1rem;
  color: #666;
}

.pricing_item .services {
  padding: 30px;
}

.pricing_item .services ul li {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  color: #666;
  line-height: 28px;
}

.pricing_item .service ul li span {
  font-size: 0.7rem;
}

.services {
  text-align: center;
}

.services button {
  margin-top: 50px;
}

.pricing_item-02 .pricing_card-top {
  background: var(--primary-color);
  border-radius: 5px 5px 0px 0px;
}

.pricing_item-02 .pricing_card-top h2 {
  color: #fff;
  font-weight: 500;
}

.pricing_item-02 .pricing_card-top h2 span {
  color: rgba(255, 255, 255, 0.788);
}

.pricing_item-02 .services ul li span i {
  color: var(--primary-color);
}
 
/* Footer css */

.footer {
  padding: 50px 0px;
  background: #eeeaff;
}

.footer_wrapper {
  display: flex;

  justify-content: space-between;
  column-gap: 2rem;
}

.footer_box {
  width: 30%;
}

.logo_img {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.logo_img h2 {
  color: var(--heading-color);
  font-weight: 700 !important;
  font-size: 1.8rem;
}

.footer_title {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
  color: var(--heading-color);
}

.footer_box p {
  color: var(--heading-color);
  line-height: 28px;
  margin-top: 20px;
}

.footer_links li {
  line-height: 28px;
}

.footer_links li a {
  color: var(--heading-color);
  cursor: pointer;
}

.footer_links li a:hover {
  color: var(--primary-color);
}

.copyright {
  margin-top: 30px;
  text-align: center;
  color: #777;
  font-size: 0.9rem;
}

.copyright a:hover {
  color: var(--primary-color);
}


.btn1 {
  width: 300px;
  background: var(--main);
  border-radius: 15px;
  position: relative;
  z-index: 1;
  margin-bottom: 0px;
}

.btn1:hover {
  color: var(--white) !important;
}

.btn1::after {
  content: "";
  background: var(--main);
  display: block;
  position: absolute;
  height: 100%;
  z-index: -1;
  width: 0px;
  top: 0;
  border-radius: 15px;
  ;
  left: 0;
  transition: 0.3s;
}


.btn1:hover::after {
  width: 100%;
}

/* login page css */

.login_container {
	width: 100%;
	min-height: 100vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login_form_container {
	width: 900px;
	height: 500px;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 40px;
	margin-top: 0;
}

.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-color);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.right h1 {
	margin-top: 0;
	color: white;
	font-size: 40px;
	align-self: center;
}

.white_btn,
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.green_btn {
	background-color: var(--primary-color);
	color: white;
	margin: 10px;
}

/* sign up */

.signup_container {
	width: 100%;
	min-height: 100vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.signup_form_container {
	width: 900px;
	height: 500px;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left1 {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-color);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.left1 h1 {
	margin-top: 0;
	color: white;
	font-size: 35px;
	align-self: center;
}

.right1 {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.form_container1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container1 h1 {
	font-size: 40px;
	margin-top: 0;
}

.input1 {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}
.white_btn1,
.green_btn1 {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: var(--black);
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}
.white_btn1,
.green_btn1 {
	background-color: var(--primary-color);
	color: #ffffffff;
	margin: 10px;
}


.container2 {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.green_btn2 {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: #3bb19b;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

/* Add Lesson Form */
.form2 {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.label2 {
  font-weight: bold;
  margin-top: 10px;
}

.inputtext,
.inputradio {
  margin: 5px 0;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.inputradio{
  margin-left: 10px;
}

.button3{
  background-color: #4CAF50;
  border: none;
  color: var(--black);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

/*popupquiz */
.formcheck {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading6 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.pcheck {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.input7{
  margin-right: 0.5rem;
}

.label6 {
  font-size: 1.2rem;
  cursor: pointer;
}

.button9 {
  background-color: #1890ff;
  color: var(--black);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
  cursor: pointer;
}

.button9:hover {
  background-color: #40a9ff;
}

/* Form.css */
/* FormStyles.css */

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.form div {
  margin-bottom: 1rem;
}


.form label {
  font-weight: bold;
  color: white; /* Add this line to set the label color to white */
}

.form input,
.form textarea {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.form button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}
